<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<config>
		<!--
		     Override for local cache 
             Delete custom packages from here in order to refresh 
             the cache from LocalPackageRepository source
	    -->
        <add key="globalPackagesFolder" value="packages" />
    </config>
	<packageSources>
		<add key="SSM Local" value="LocalPackageRepository" />
	</packageSources>
</configuration>